.container {
	/* [disabled]background-color: #D8D8D8; */
}
.row .col-md-4 .thumbnail {
	background-color: #9A9A9A;
}

.container-fluid .navbar-header .navbar-brand {
	background-color: #6F6D6D;
	color: #FFFFFF;
}



.container .navbar.navbar-default .container-fluid {
	color: #565656;
	background-image: -webkit-linear-gradient(66deg,rgba(144,144,144,1.00) 0%,rgba(184,184,184,1.00) 100%);
	background-image: -moz-linear-gradient(66deg,rgba(144,144,144,1.00) 0%,rgba(184,184,184,1.00) 100%);
	background-image: -o-linear-gradient(66deg,rgba(144,144,144,1.00) 0%,rgba(184,184,184,1.00) 100%);
	background-image: linear-gradient(24deg,rgba(144,144,144,1.00) 0%,rgba(184,184,184,1.00) 100%);
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-shadow: 0px 0px #2E2E2E;
}
.nav.navbar-nav.navbar-right li a {
	color: #666666;
}
.nav.navbar-nav.navbar-right li a:hover  {
	color: #161616;
	font-weight: normal;
	/* [disabled]background-color: #B0B0B0; */
}




body p {
	color: #D8D8D8;
}

.carousel-inner .item .center-block.image-fill {
}

.image-fill {
	width: 100%;
}


.container footer {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #919191;
	padding-top: 35px;
	padding-bottom: 35px;
}
h1, h2, h3, p {
	text-align: center;
}
.container .contact {
	color: #2B2B2B;
}

.container article h1 {
	font-size: medium;
}
.thumbnail .caption .btn-group {
	position: absolute;
	left: 40%;
	right: 60%;
	/* [disabled]background-color: #FF0004; */
}
.container .row .col-md-4 {
}
.caption .btn-group .btn.btn-primary.dropdown-toggle {
	margin-left: auto;
	margin-right: auto;
}
.row .col-md-4 .thumbnail {
	padding-bottom: 48px;
}
.container .service {
	font-weight: normal;
	margin-top: 1em;
	margin-bottom: 3em;
	font-size: large;
}
.container .service.modal-title {
	color: #000000;
	font-size: medium;
	margin-top: 3em;
	margin-bottom: auto;
}


.container article p {
	color: #000000;
}
.container .socialicons {
	top: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}
.container .socialicons .socialicons {
	margin-left: 1em;
	margin-right: 1em;
}
