@charset "utf-8";
div aside img {
	margin-left: 59px;
	float: left;
	-webkit-box-shadow: 4px 0px 23px -2px;
	box-shadow: 4px 0px 23px -2px;
	margin-right: 43px;
	margin-top: 36px;
}
div aside .about {
	text-align: left;
	color: #000000;
	margin-top: 32px;
	border-top-width: medium;
	background-color: #FFFFFF;
	padding-right: 41px;
	padding-top: 49px;
	padding-bottom: 49px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,198,198,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,198,198,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,198,198,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(198,198,198,1.00) 100.00%);
	padding-left: 41px;
}
